<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <title>Vue.JS - Tutorial</title>
</head>

<body>
    <div id="testAPI" class="center">
        <label>Username: </label>
        <input type="text" name="" v-model="username">
        <label>Password: </label>
        <input type="password" name="" v-model="password">
        <button type="button"  v-on:click="login">Submit</button>
        <!-- <h6>{{all_courses}}</h2> -->
        <hr>
        <!-- <h6>{{courses}}</h6> -->
        <h6 v-for="c in courses" :key="c.section_id">{{c.day_w}} : {{c.time_from}} - {{c.time_to}} : {{c.subject_name_th}} </h6>
    </div>
    <!-- <div id="vue-app">
        Name: <input type="text" value="" v-model="name">
        Food Fav: 
        <input type="checkbox" value="ไก่" v-model="foods">
        <label>ไก่</label>
        <input type="checkbox" value="หมู">
        <label>หมู</label>
        <input type="checkbox" value="ปลา">
        <label>ปลา</label>
        <hr>
        <h1>{{foods}}</h1>
        <hr>
        <h1>Name: {{name}}</h1>
        <h1>Job: {{job}}</h1>
        <h1>Age: {{age}}</h1>
        <h1>Website: <a v-bind:href="website">Click link</a></h1>
        <input type="text" name="" v-bind:value="name">
        <input type="text" name="" v-bind:value="job">
        <br>
        <input type="text" v-on:keyup="addCount">
        <h1>Count: {{count}}</h1>
        <br>
        <button type="button" v-on:click="addAge">Add</button>
        <button type="button" v-on:click="subtractAge">Subtract</button>
    </div> -->
    <script src="app.js" charset="utf-8"></script>
</body>

</html>

<style>
    body {
        min-height: 100vh;
    }
    .center {
        font-size: large;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        border: 1px solid blue;
        padding: 10px;
      }
</style>