@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Kanit', sans-serif;
	line-height: 1.5;
	/* line-height-step: 1.5; */
}

input:hover {
	box-shadow: 0 0 5pt 0.1pt #d3d3d3;
}
input:focus {
	box-shadow: 0 0 5pt 0.2pt #d3d3d3;
	outline-width: 0px;
}

.loader-wrapper {
	position: fixed; /* SET TO FIXED */
	top: 0;
	left: 0;
	width: 100vw; /* USE VIEWPORT UNITS */
	height: 100vh; /* USE VIEWPORT UNITS */
	z-index: 40; /* MOVE Z-INDEX HERE! */
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18vmax;
	margin: -9vmax; /* ADD THIS (half the W/H) */
	border-top-color: #ffffff;
	animation: spin 2s infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.lmask {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 40;
	opacity: 0.4;
	position: fixed;
}
.lmask:before {
	content: '';
	/* background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7; */
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	position: absolute;
	top: 50%;
	left: 50%;
}
/* .lmask:after {
  content: '';
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-left: 5px solid rgba(0,0,0,0);
  border-right: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  position: absolute;
  top: 50%;
  left: 50%;
} */

.my-col-start-1 {
	@apply col-start-1;
}
.my-col-start-2 {
	@apply col-start-2;
}
.my-col-start-3 {
	@apply col-start-3;
}
.my-col-start-4 {
	@apply col-start-4;
}
.my-col-start-5 {
	@apply col-start-5;
}
.my-col-start-6 {
	@apply col-start-6;
}
.my-col-start-7 {
	@apply col-start-7;
}
.my-col-start-8 {
	@apply col-start-8;
}
.my-col-start-9 {
	@apply col-start-9;
}
.my-col-start-10 {
	@apply col-start-10;
}
.my-col-start-11 {
	@apply col-start-11;
}
.my-col-start-12 {
	@apply col-start-12;
}
.my-col-start-13 {
	@apply col-start-13;
}
.my-col-end-1 {
	@apply col-end-1;
}
.my-col-end-2 {
	@apply col-end-2;
}
.my-col-end-3 {
	@apply col-end-3;
}
.my-col-end-4 {
	@apply col-end-4;
}
.my-col-end-5 {
	@apply col-end-5;
}
.my-col-end-6 {
	@apply col-end-6;
}
.my-col-end-7 {
	@apply col-end-7;
}
.my-col-end-8 {
	@apply col-end-8;
}
.my-col-end-9 {
	@apply col-end-9;
}
.my-col-end-10 {
	@apply col-end-10;
}
.my-col-end-11 {
	@apply col-end-11;
}
.my-col-end-12 {
	@apply col-end-12;
}
.my-col-end-13 {
	@apply col-end-13;
}
