@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body{
	font-family: 'Kanit', sans-serif;
	line-height: 1.5;
	/* line-height-step: 1.5; */
}

input:hover{
  box-shadow: 0 0 5pt 0.1pt #D3D3D3;
}
input:focus {
  box-shadow: 0 0 5pt 0.2pt #D3D3D3;
  outline-width: 0px;
}
